* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box-shadow {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .5);
}

body {
    background-color: rgb(245, 245, 245);
    min-width: 350px;
}

main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 15px;
    padding: 15px;
}

.newBook-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
    background-color: #fff;
    border-radius: 5px;
}

.form-title {
    text-align: center;
}

input[type="text"], input[type="number"] {
    width: 100%;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.radio-group, .btns {
    margin-top: 5px;
    display: flex;
    gap: 15px;
}

.btns>button {
    flex: 1;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    border: none;
    padding: 11px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.btns>button:hover, #dltBtn:hover {
    filter: brightness(1.2);
    transition: .2s;
}

.btns>button:disabled {
    opacity: .75;
    cursor: zoom-in;
}

.submit-btn {
    background-color: green;
}

.reset-btn {
    background-color: darkorange;
}

.books-list, table {
    margin-inline: auto;
    width: 100%;
    border-radius: 5px;
}

table * {
    padding: 10px;
}

thead {
    background-color: darkblue;
    color: #fff;
}

tbody tr {
    background-color: antiquewhite;
    text-align: center;
}

#readCell {
    cursor: pointer;
}

#readCell:hover {
    background-color: darkorange;
    color: #fff;
    transition: .2s;
    font-weight: bold;
}

#dltBtn {
    border: none;
    background-color: darkred;
    color: #fff;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
}